Options -Indexes +ExecCGI
AddHandler cgi-script .pl
DirectoryIndex awstats.pl

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.misteristavo.lt$ [NC]
RewriteRule ^(.*)$ http://misteristavo.lt/awstats/$1 [R=301,L]
